.header {
    display: flex;
    justify-content: flex-end;
    nav {
        ul {
            display: flex;
            li {
                margin: 0 10px;
                list-style: none;
            }
        }
    }
}